<div class="screen-share-container hidden">
    <div class="resize-handle"></div>
    <div class="screen-share-content"></div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div video-grid class="text-center"></div>
        </div>
    </div>
</div>

<div class="chat-section hidden">
    <div class="chat-window">
        <ul id="messages"></ul>
    </div>
    <div class="chat-input">
        <input type="text" id="chatInput" placeholder="Type your message...">
        <input type="file" id="fileInput" style="display: none;" accept=".pdf, .doc, .docx, .txt, .png, .jpg" multiple>
        <label for="fileInput">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z" />
            </svg>
        </label>
        <div class="d-flex align-items-center ml-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="recipientDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Recipient
                </button>
                <div class="dropdown-menu" aria-labelledby="recipientDropdownButton" id="recipientDropdown">
                   
                </div>
            </div>
            <button id="sendButton" class="btn btn-primary ml-2">Send</button>
        </div>
    </div>
</div>


<div class="bottom-buttons">
    <button id="toggleVideo" class="btn btn-primary">Toggle Video</button>
    <button id="toggleAudio" class="btn btn-primary">Toggle Audio</button>
    <button id="shareScreenButton" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-aspect-ratio" viewBox="0 0 16 16">
            <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z" />
            <path d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0z" />
        </svg>
        <span id="ShareScreenButtonText">Share Screen</span>
    </button>
    <button id="recordScreenButton" class="btn btn-outline-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-record-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
        </svg>
        <span id="recordScreenButtonText">Record Screen</span>
    </button>
    <button id="toggleChatButton" class="btn btn-success">Show Chat</button>
    <button id="copyLinkButton" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
        </svg>
        Copy Meeting Link
    </button>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/videostyle6.css">

<script src="~/js/scripts/main.js"></script>
<script src="~/js/scripts/peer.js"></script>