@model Video_conference_app.Models.User

@{
    ViewData["Title"] = "SignIn";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<h1>Sign In</h1>
